# API

*/constants.ts

# compiled output
/api/dist
/api/node_modules

# Logs
/api/logs
*.log
/api/npm-debug.log*
/api/pnpm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/lerna-debug.log*

# OS
.DS_Store

# Tests
/api/coverage
/api/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Frontend
**/api-keys.ts

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
# Only exists if Bazel was run
/frontend/bazel-out

# dependencies
/frontend/node_modules

# profiling files
chrome-profiler-events*.json

/frontend/.angular/cache
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/frontend/typings
