<mat-tab-group mat-stretch-tabs *ngIf="auth.loggedIn">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">house</mat-icon>
      Home
    </ng-template>

    <tabs-home></tabs-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">map</mat-icon>
      Locations
    </ng-template>
    <tabs-locations [locations]="locations$ | async"></tabs-locations>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">favorite</mat-icon>
      Exposures
    </ng-template>

    <tabs-exposures></tabs-exposures>
  </mat-tab>
</mat-tab-group>

<header class="docs-header-background" *ngIf="!auth.loggedIn">
  <div class="docs-header-section">
    <h1 class="mat-h1">Tracer</h1>
    <h2 class="mat-h2">A contact tracing application.</h2>
    <div class="mat-header-start">
      <button color="primary" mat-raised-button (click)="goLogin()">Get Started</button>
    </div>
  </div>
</header>