<mat-tab-group mat-stretch-tabs >
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">house</mat-icon>
      Home
    </ng-template>

    <tabs-home></tabs-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">book</mat-icon>
      Books
    </ng-template>

    <tabs-books [books]="books$ | async"></tabs-books>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">map</mat-icon>
      Locations
    </ng-template>
    <tabs-locations></tabs-locations>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">favorite</mat-icon>
      Exposures
    </ng-template>

    <tabs-exposures></tabs-exposures>
  </mat-tab>
</mat-tab-group>