.example-card {
	width: 300px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.example-full-width {
	width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}