<mat-grid-list cols="4" rowHeight="120px">
	<mat-grid-tile>
	  <mat-card class="example-card">
			<mat-card-subtitle>Nov 9, 2021</mat-card-subtitle>
			<mat-card-content>
				<p>5 contacts have been notified of possible exposure.</p>
			</mat-card-content>
	  </mat-card>
	</mat-grid-tile>
	
	<mat-grid-tile>
	  <mat-card class="example-card">
			<mat-card-subtitle>Oct 19, 2021</mat-card-subtitle>
			<mat-card-content>
				<p>11 contacts have been notified of possible exposure.</p>
			</mat-card-content>
	  </mat-card>
	</mat-grid-tile>

	<mat-grid-tile>
	  <mat-card class="example-card">
			<mat-card-subtitle>Sep 15, 2021</mat-card-subtitle>
			<mat-card-content>
				<p>3 contacts have been notified of possible exposure.</p>
			</mat-card-content>
	  </mat-card>
	</mat-grid-tile>

	<mat-grid-tile>
	  <mat-card class="example-card">
			<mat-card-subtitle>Jul 21, 2021</mat-card-subtitle>
			<mat-card-content>
				<p>No contacts have been notified of possible exposure.</p>
			</mat-card-content>
	  </mat-card>
	</mat-grid-tile>
</mat-grid-list>