<mat-card class="example-card">
	<div>
		<mat-card-title>Create Account</mat-card-title>
		<mat-card-content>
			<form class="example-form">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>First name</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Last Name</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Phone number</mat-label>
					<span matPrefix>+1 &nbsp;</span>
					<input type="tel" matInput placeholder="555-555-1234">
					<mat-icon matSuffix>phone</mat-icon>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput [type]="hidePassword ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="toggleHidePassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
						<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Confirm password</mat-label>
					<input matInput [type]="hideConfirm ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="toggleHideConfirm($event)" [attr.aria-label]="'Hide confirmation'" [attr.aria-pressed]="hideConfirm">
						<mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button color="primary" mat-raised-button>Sign Up</button>
		</mat-card-actions>
	</div>
</mat-card>