<mat-card class="example-card">
	<div>
		<mat-card-title>Create Account</mat-card-title>
		<mat-card-content>
			<form class="example-form">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>First name</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Last Name</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Phone number</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Confirm password</mat-label>
					<input matInput>
				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button color="primary" mat-raised-button>Sign Up</button>
		</mat-card-actions>
	</div>
</mat-card>