.example-card {
	width: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.example-card-long {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.right {
	margin-left: auto;
}