.example-card {
	min-width: 400px;
	min-height: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	display: inline-grid;
}

.example-card-long {
	min-height: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	display: inline-grid;
}

.right {
	margin-left: auto;
}

div.mat-list-item-content {
	display: block;
}