<mat-card class="example-card">
	<form class="example-form" (ngSubmit)="submit()">
		<mat-card-title>Report Exposure</mat-card-title>
		<mat-card-content>
				<h3>When did the exposure happen?</h3>
				<mat-form-field appearance="fill">
					<mat-label>Date of occurrence</mat-label>
					<input matInput [matDatepicker]="picker" name="occurrence" [(ngModel)]="occurrence">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button color="primary" mat-raised-button type="submit">Submit</button>
		</mat-card-actions>
	</form>
</mat-card>